player-connection-mode=Listen
player-connection-guid=3478297545
player-connection-debug=0
player-connection-project-name=Information Processing
player-connection-ip=192.168.136.1
player-connection-ip=192.168.3.1
player-connection-ip=146.169.220.172
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
